/* INDEX PAGE STYLESHEET */
 
body{
    background-color: whitesmoke;
}

.brand{
    color: #1d1e1f;
}

ul li.active a{
    color: #393e46;
}

ul li a:hover{
    color: #393e46;
  }

/* FULL GRID */
.grid{
    padding-top: 50px;
    width: 100%;

}

/* NEWS PANEL WIDTH */
body > section.lower_body > table > tbody > tr > th:nth-child(1){

    width: 20%;  /*dont change*/
}

/* ADMIN PANEL WIDTH */
body > section.lower_body > table > tbody > tr > th:nth-child(3){
    width: 20%;  /*dont change*/
}

/* POST GRID */
body > section.lower_body > table > tbody > tr:nth-child(2) > td:nth-child(2){
    background-color: #8fc0a9;
    justify-content: center;
    text-align: center;
}

/* IMAGES IN POST GRID */
/* .GridPics  img{
    width: 250px;
    height: 250px;
    margin: 20px 20px;
} */

/* ============== CARD ================ */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    background-color: whitesmoke;
    /* margin: auto; */
    text-align: center;
    float: right;
    margin: 20px 20px;
    /* height: 500px; */
}

.card img{
    width: 250px;
    height: 250px;

} 
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #393e46;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }


/* ADMIN PANEL */
body > section.lower_body > table > tbody > tr:nth-child(2) > td.AdminPanel{
    background-color: #393e46;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    float: left;
    min-width: 250px;
    /* min-height: 380px; */
}

.AdminPanelBox{
    width: 85%;
    /* height: 500px; */
    background-color: whitesmoke;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;  
    /* min-height: 400px; */
}


/* ADMIN IMAGE IN USER PANEL */
.AdminPanel img{
    border-radius: 25px;
    border: 2px solid #393e46;
    padding: 5px;
    width: 150px;
    height: 150px;  
}


/* TO HIDE ADMIN PANEL AND NEWS IN MOBILE DISPLAY */
@media screen and (max-width: 1030px) {

    body {
      background-color: black;
    }

    body > section.lower_body > table > tbody > tr:nth-child(2) > td.AdminPanel{
        display: none;
    }

    body > section.lower_body > table > tbody > tr:nth-child(2) > td:nth-child(1) > div{
        display: none;        
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        text-align: center;
        float: none;
        /* align-items: center; */
        /* margin: 20px 50px; */
        margin: 25px auto;
        width: 400px;
      }
    
    .card img{
        width: 400px;
        height: 400px;
    
    } 

  }